<% const user = locals.currentUser 
%>

<article>
  <div class="titleDiv">
    <h2><%= message.title %></h2>
    <% if (user && user.admin) { %>
    <button class="deleteBtn" id="<%= message.id %>">Delete</button>
    <% } %>
  </div>
  <p class="message"><%= message.message %></p>
  <% if (user) { %>
  <% if (user.member) { %>
  <p class="date">Created <%= new Date(message.creation_date).toLocaleDateString() %></p>
  <div class="nameDiv">
    <p class="name"><%= `${message.name} ${message.last_name}` %></p>
    <% if (message.member) { %>
    <p class="status">Member</p>
    <%  } else if (message.admin) { %>
    <p class="status">Admin</p>
    <% }  else { %>
    <p class="status">User</p>
    <%}%>
    <% } %>
  </div>

  <%}%>
</article>
