<% const user = locals.currentUser %>

<article>
  <h2><%= message.title %></h2>
  <p><%= message.message %></p>
  <% if (user && user.member) { %>
  <p><%= new Date(message.creation_date).toLocaleTimeString() %></p>
  <p><%= `${message.name} ${message.last_name}` %></p>
  <% if (message.member) { %>
  <p><%= Member %></p>
  <%  } else if (message.admin) { %>
  <p>Admin</p>
  <% }  else { %>
  <p>User</p>
  <%}%>
  <% } %>
  <% if (user.admin) { %>
    <button class="deleteBtn" id="<%= message.id %>">Delete</button>
  <% } %>
</article>
